.mural {
  width: 50%;
  margin: 50px auto;
}

.mural h3 {
  text-align: center;
  color: #333;
}

.form {
  width: 100%;
  display: block;
}

.form label {
  display: block;
  margin: 15px 0;
  font-size: .9em;
  font-weight: 500;
  color: #444;
}

.form input, .form textarea {
  width: 100%;
  margin: 5px 0;
  padding: 12.5px 17.5px;
  border: 0;
  border-radius: 5px;
  color: #888;
  outline: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: .85em;
}

.form textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 100px;
  max-height: 300px;
}

.form button {
  margin: 10px 0;
  float: right;
}

.mural ul {
  margin-top: 15px;
  margin-bottom: 30px;
  padding: 10px 0;
  border-top: 2px solid #00938d;
}

.mural li {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

.messages  {
  height: 0;
  visibility: hidden;
}

.messages-on {
  height: auto;
  visibility: visible;
}

.messages li {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.data {
  text-align: center;
  padding-top: 20px !important;
  color: #666;
}

.data li > a {
  color: #00938d;
}